.titleInfo {
  color: #60606e;
  &__img {
    margin-right: 20px;
  }
  &__title{
    line-height: 40px;
    font-family:$headers-font-family;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
  }
  &__text {
    @extend .titleText__text;
    margin-top: 20px;
    margin-bottom: 60px;

  }
}
